@import "../mixins";
@import "../variables";
.egova-mf-crumb {
    @include flex($align-items: center);
    @include font($fontColor: $minor-text-color);
    font-size: 16px;
}
.egova-mf-crumb__item {
    @include flex(row, start, center);
    &.egova-mf-crumb--route {
        cursor: pointer;
    }
    &:last-child {
        .egova-mf-crumb__name {
            color: $common-color;
        }
        .egova-mf-crumb__split {
            display: none;
        }
    }
}
.egova-mf-crumb__split {
    padding: 0 8px;
}
